[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Externals/stb"]
	path = Externals/stb
	url = https://github.com/ocornut/stb.git
[submodule "Externals/HappyHTTP"]
	path = Externals/HappyHTTP
	url = https://github.com/Zintinio/HappyHTTP.git
[submodule "Externals/gason"]
	path = Externals/gason
	url = https://github.com/vivkin/gason.git
